<table>
    <tr>
        <td>
            @Html.DevExpress().Label(
                settings => {
                    settings.Name = "ResourcesSortTypeLabel";
                    settings.Width = System.Web.UI.WebControls.Unit.Pixel(220);
                    settings.Text = "Visible Appointments in Resources: ";
                }).GetHtml()
        </td>
        <td>
            @Html.DevExpress().DropDownEdit(
                settings => {
                    settings.Name = "checkComboBox";
                    settings.Width = 210;
                    settings.Properties.DropDownWindowStyle.BackColor = System.Drawing.Color.FromArgb(0xEDEDED);

                    settings.SetDropDownWindowTemplateContent(c => {
                        @Html.DevExpress().ListBox(
                            listBoxSettings => {
                                listBoxSettings.Name = "checkListBox";
                                listBoxSettings.ControlStyle.Border.BorderWidth = 0;
                                listBoxSettings.ControlStyle.BorderBottom.BorderWidth = 1;
                                listBoxSettings.ControlStyle.BorderBottom.BorderColor = System.Drawing.Color.FromArgb(0xDCDCDC);
                                listBoxSettings.Width = System.Web.UI.WebControls.Unit.Percentage(100);
                                listBoxSettings.Properties.SelectionMode = ListEditSelectionMode.CheckColumn;
                                listBoxSettings.Properties.ClientSideEvents.SelectedIndexChanged = "OnListBoxSelectionChanged";
                                listBoxSettings.Properties.ClientSideEvents.Init = "OnListBoxSelectionChanged";
                                
                                listBoxSettings.Properties.ValueField = "ResourceID";
                                listBoxSettings.Properties.TextField = "ResourceName";

                                listBoxSettings.PreRender = (s, e) => {
                                    ASPxListBox lb = (ASPxListBox)s;
                                    lb.Items.Insert(0, new ListEditItem() { Text = "Select All", Value = -1 });
                                    lb.SelectAll();
                                };
                                
                            }).BindList(SchedulerDataHelper.GetResources()).Render();

                        ViewContext.Writer.Write("<table style=\"width:100%\"><tr><td align=\"right\">");
                        @Html.DevExpress().Button(
                            buttonSettings => {
                                buttonSettings.Name = "buttonClose";
                                buttonSettings.Text = "Close";
                                buttonSettings.Style.Add("float", "right");
                                buttonSettings.ClientSideEvents.Click = "OnCloseButtonClick";
                            }).Render();
                        ViewContext.Writer.Write("</td></tr></table>");
                    });
                    
                    settings.Properties.AnimationType = AnimationType.None;
                    settings.Properties.ClientSideEvents.TextChanged = "SynchronizeListBoxValues";
                    settings.Properties.ClientSideEvents.DropDown = "SynchronizeListBoxValues";
                    settings.Properties.ClientSideEvents.CloseUp = "OnDropDownClose";
                }).GetHtml()
        </td>
    </tr>
</table>



